CONFIG_ARM=y
CONFIG_SOC_FAMILY_NRF5=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y
CONFIG_BOARD_NRF52_D52QD2M4IA_A=y

# enable uart driver
CONFIG_SERIAL=y
CONFIG_UART_NRF5=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# additional board options
CONFIG_GPIO_AS_PINRESET=y

# bluetooth
CONFIG_BLUETOOTH=y
CONFIG_BLUETOOTH_CONTROLLER=y

# nrf52 spim 0 support
CONFIG_SPI=y
CONFIG_SPI_CS_GPIO=y
CONFIG_SPI_0=y
CONFIG_SPI_0_IRQ_PRI=1
CONFIG_SPI_0_CS_GPIO_PIN=27

CONFIG_SPI_NRF5=y
CONFIG_SPIM0_NRF52=y
CONFIG_SPIM0_NRF52_GPIO_SCK_PIN=30
CONFIG_SPIM0_NRF52_GPIO_MOSI_PIN=29
CONFIG_SPIM0_NRF52_GPIO_MISO_PIN=28
CONFIG_SPIM0_NRF52_GPIO_SS_PIN_0=27

# accelerometer lis2dh support
CONFIG_SENSOR=y
CONFIG_LIS2DH=y
CONFIG_LIS2DH_BUS_SPI=y
